# Global settings
#---------------------------------------------------------------------
global
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     20000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
#    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          300s
    timeout server          300s
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 20000

listen stats :9000
    mode http
    stats enable
    stats uri /

frontend kubernetes-api
    bind {{ groups['vip'] | first }}:8443
    default_backend kubernetes-api
    mode tcp
    option tcplog

backend kubernetes-api
    balance source
    mode tcp
    option tcplog
{% for server in groups['lbs'] %}
{% if loop.first %}
    server	{{ hostvars[server]['name'] }} {{ hostvars[server]['ansible_eth0']['ipv4']['address'] }}:443
{% else %}
    server      {{ hostvars[server]['name'] }} {{ hostvars[server]['ansible_eth0']['ipv4']['address'] }}:443 backup
{% endif %}
{% endfor %}
